.index-container {
  width: 90vw;
  padding: 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.featured-products-title {
  font-size: 24px;
  margin: 50px 0 0 0;
}

.flash-errors {
  color: darkred;
}

@media (min-width: 1024px) {
  .featured-products {
    align-items: baseline;
  }
  .featured-products-title {
    width: 100%;
  }
}
