body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.bg-yellow {
  background-color: #eac926;
}

.color-gray {
  color: #ebebeb;
}

.bg-gray {
  background-color: #ebebeb;
}

.bg-darkgray {
  background-color: #666;
}

.bg-blue {
  background-color: rgb(28, 28, 197);
}

.bg-white {
  background-color: white;
}

.bg-lightblue {
  background-color: #1259c3;
}

.color-green {
  background-color: #39b54a;
}

.color-white {
  color: white;
}

.font-texts {
  font-size: 12px;
}

.font-titles {
  font-size: 24px;
}

.font-prices {
  font-size: 18px;
}

.font-disc {
  font-size: 16px;
}

.font-descr {
  font-size: 16px;
}

.font-xl {
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.vw-90 {
  width: 90vw;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.p-1 {
  padding: 8px;
}

.mgy-s {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mgy-m {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mgx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mgr-1 {
  margin-right: 8px;
}

.bt-1 {
  border-top: 1px solid;
}

.b-gray {
  border-color: #ebebeb;
}

.pa-15 {
  padding: 15px;
}

.radius-1 {
  border-radius: 5px;
}

.product-shadow {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.font-em {
  font-size: 2em;
}

@media (max-width: 480px) {
  .max-w-hide {
    display: none;
  }
}

@media (min-width: 481px) {
  /* tablet */
  .m-w-50 {
    width: 48%;
  }
  .m-w-hide {
    display: none;
  }
}

@media (min-width: 769px) {
  /* laptop */
  .lg-w-25 {
    width: 23%;
  }

  .product-shadow {
    box-shadow: none;
  }

  .description {
    display: none;
  }

  .product:hover .description {
    display: block;
  }
}

@media (min-width: 1281px) {
  /* desktop */
}
