<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Mercado Liebre</title>
  </head>

  <body class="bg-gray">

    <header class="bg-yellow p-1 font-xl">
      <h1 class="w-50">
        <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" />
      </h1>
      <p class="w-1">Acá va la barra de busqueda</p>
      <p>
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </p>
      <p class="text-center w-100">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Comprá en cuotas y sin Tarjeta de Crédito
      </p>

      <nav class="">
        <ul class="p-1 max-w-hide">
          <li><a class="nav-link" href="#">Ofertas</a></li>
          <li><a class="nav-link" href="#">Tiendas oficiales</a></li>
          <li><a class="nav-link" href="#">Vender</a></li>
          <li><a class="nav-link" href="#">Ayuda</a></li>
        </ul>
        <ul class="p-1 max-w-hide">
          <li>
            <a class="nav-link" href="#">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>
          </li>
          <li>
            <a class="nav-link" href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
          </li>
          <li>
            <a class="nav-link" href="#"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>

        <div class="text-center w-100 m-w-hide">
          <i class="fa-solid fa-bars p-1 bg-lightblue radius-1 color-white"></i>
        </div>
      </nav>
    </header>

    <main class="p-1 mgx-auto vw-90">
      <section class="p-1">
        <h2 class="p-1 font-titles w-100">Basado en última visita</h2>
        <article class="bg-white mgy-s pa-15 product-shadow w-100 m-w-50 lg-w-25">
          <img
            class="w-100"
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <div class="bt-1 b-gray p-1">
            <p class="font-prices">$6.770</p>
            <p class="font-disc">40% off</p>
            <h3 class="font-xl">Cafetera Moulinex</h3>
          </div>
        </article>
        <article class="bg-white mgy-s pa-15 product-shadow w-100 m-w-50 lg-w-25">
          <img class="w-100" 
          src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" />
          <div class="bt-1 b-gray p-1">
            <p class="font-prices">$230.000</p>
            <p class="font-disc">20% off</p>
            <h3 class="font-xl">MacBook Pro 2019</h3>
          </div>
        </article>
        <article class="bg-white mgy-s pa-15 product-shadow w-100 m-w-50 lg-w-25">
          <img class="w-100"
            src="images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="bt-1 b-gray p-1">
            <p class="font-prices">$70.500</p>
            <p class="font-disc">10% off</p>
            <h3 class="font-xl">Samsung Galaxy S10</h3>
          </div>
        </article>
        <article class="bg-white mgy-s pa-15 product-shadow w-100 m-w-50 lg-w-25">
          <img class="w-100" src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" />
          <div class="bt-1 b-gray p-1">
            <p class="font-prices">$23.200</p>
            <p class="font-disc">5% off</p>
            <h3 class="font-xl">SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>

      <section class="p-1">
        <h2 class="font-titles mgy-m">Sección de Ofertas</h2>
        <article class="bg-white mgy-s pa-15 product-shadow w-100 m-w-50 lg-w-25">
          <img class="w-100" 
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <div class="bt-1 b-gray p-1">
            <p class="font-prices">$6.770</p>
            <p class="font-disc">40% off</p>
            <h3 class="font-xl">Cafetera Moulinex</h3>
          </div>
        </article>
        <article class="bg-white mgy-s pa-15 product-shadow w-100 m-w-50 lg-w-25">
          <img class="w-100" src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" />
          <div class="bt-1 b-gray p-1">
            <p class="font-prices">$230.000</p>
            <p class="font-disc">20% off</p>
            <h3 class="font-xl">MacBook Pro 2019</h3>
          </div>
        </article>
        <article class="bg-white mgy-s pa-15 product-shadow w-100 m-w-50 lg-w-25">
          <img class="w-100" 
            src="images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="bt-1 b-gray p-1">
            <p class="font-prices">$70.500</p>
            <p class="font-disc">10% off</p>
            <h3 class="font-xl">Samsung Galaxy S10</h3>
          </div>
        </article>
        <article class="bg-white mgy-s pa-15 product-shadow w-100 m-w-50 lg-w-25">
          <img class="w-100" src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" />
          <div class="bt-1 b-gray p-1">
            <p class="font-prices">$23.200</p>
            <p class="font-disc">5% off</p>
            <h3 class="font-xl">SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>
    </main>

    <footer>
      <section class="p-1">
        <article class="text-center mgy-m">
          <i class="fa-solid fa-credit-card font-em" style="color: #1259c3"></i>
          <h3 class="text-center p-1 font-xl">Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>

        <article class="text-center mgy-m">
          <i class="fa-solid fa-gift font-em" style="color: #1259c3"></i>
          <h3 class="text-center p-1 font-xl">Envío gratis desde $ 2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>

        <article class="text-center mgy-m">
          <i class="fa-solid fa-user-shield font-em" style="color: #1259c3"></i>
          <h3 class="text-center p-1 font-xl">Seguridad, de principio a fin</h3>
          <p class="text-center">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
            hacer, porque estás siempre protegid@.
          </p>
        </article>
      <section class="p-1">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>
