<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <main class="main-login">
      <form action="/" class="login-form">
        <div class="login-container">
          <h2 class="login-title">Ingresá a tu usuario</h2>
          <input
            class="form-info-input"
            type="text"
            name="username"
            placeholder="Nombre de usuario"
            minlength="8"
          />
          <input
            class="form-info-input"
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
            minlength="8"
          />
        </div>
        <div class="login-submit-container">
          <a href="/"
            ><input class="form-submit" type="submit" value="Ingresar"
          /></a>
        </div>
      </form>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
