<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
        <h1 class="logo">
          <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" />
        </h1>
        <div class="search-bar-container">
            <form action="/" class="search-bar-form">
                <input type="text" class="search-bar" name="search" placeholder="Buscar productos, marcas o palabras clave"/>      
                <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>  
            </form>
        </div>
        <p class="banner-text">
            <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin Tarjeta de Crédito
        </p>
        
        <nav>
            <ul class="nav-ul-sites">
                <li class="nav-li-sites"><a href="#">Ofertas</a></li>
                <li class="nav-li-sites"><a href="#">Tiendas oficiales</a></li>
                <li class="nav-li-sites"><a href="#">Vender</a></li>
                <li class="nav-li-sites"><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav-ul-user">
                <li class="nav-li-user">
                    <a href="register.html">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>
                </li>
                <li class="nav-li-user">
                    <a href="login.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
                </li>
                <li class="nav-li-user">
                    <a href="#"
                    >Mis compras <i class="fa-solid fa-basket-shopping"></i
                    ></a>
                </li>
            </ul>
            <div class="burger-menu-container">
                <i class="burger-menu-icon fa-solid fa-bars"></i>
            </div>
        </nav>
    </header>

    <img class="banner-img" src="/images/img-home-banner.jpg" alt="Promoción fiestas" />

    <main class="main-register">
      <form action="/" class="register-form">
        <div class="register-details-container">
          <h2 class="register-title">Formulario de registro</h2>
          <input type="text" class="register-info-input" name="name" placeholder="Nombre y apellido" minlength="3"/>
          <input type="text" class="register-info-input" name="username" placeholder="Nombre de usuario" minlength="8"/>
          <input type="email" class="register-info-input" name="email" placeholder="E-mail"/>
          <h3 class="register-subtitle">Fecha de nacimiento</h3>
        <div class="register-details-container">
          <input type="date" class="register-info-input" name="birthday" />
          <input type="text" class="register-info-input" name="address" placeholder="Domicilio" minlength="3"/>
        </div>
        <h3 class="register-subtitle">Perfil de usuario</h3>
        <div class="register-user-container">
          <label for="register-comprador-button">
            <input class="register-comprador-button" type="radio" name="user" id="register-comprador-button"/> 
            Comprador
          </label>
          <label for="register-vendedor-button">
            <input type="radio" name="user" id="register-vendedor-button"/> 
            Vendedor
          </label>
        </div>
        <h3 class="register-subtitle">Intereses</h3>
        <div class="register-interests-container">
          <label for="register-interests-electro">
            <input class="register-interests-input" type="checkbox" name="Intereses" id="register-interests-electro" /> 
            Electro
          </label>
          <label for="register-interests-moda">
            <input class="register-interests-input" type="checkbox" name="Intereses" id="register-interests-moda" /> 
            Moda
          </label>
          <label for="register-interests-hogar">
            <input class="register-interests-input" type="checkbox" name="Intereses" id="register-interests-hogar" /> 
            Hogar
          </label>
          <label for="register-interests-jugueteria">
            <input class="register-interests-input" type="checkbox" name="Intereses" id="register-interests-jugueteria" /> 
            Juguetería
          </label>
          <label for="register-interests-vida">
            <input class="register-interests-input" type="checkbox" name="Intereses" id="register-interests-vida" /> 
            Vida sana
          </label>
        </div>
        <h3 class="register-subtitle">Foto de usuario</h3>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <h3 class="register-subtitle">Contraseña</h3>
        <input class="register-info-input" type="password" name="password" id="password" placeholder="Contraseña" minlength="8">
        <h3 class="register-subtitle">Confirmar contraseña</h3>
        <input class="register-info-input" type="password" name="password" id="password" placeholder="Confirmar contraseña" minlength="8">

        <div class="register-buttons-container">
          <a href="/"><input class="register-submit" type="submit"></a>
          <input type="reset" class="register-reset" name="reset">  
        </div>
        

      </form>
    </main>

    <footer>
      <section class="footer-container">
        <article class="footer-texts">
          <i class="fa-solid fa-credit-card font-em" style="color: #1259c3"></i>
          <h3 class="footer-title">Pagá con tarjeta o en efectivo</h3>
          <p class="footer-terms">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>

        <article class="footer-texts">
          <i class="fa-solid fa-gift font-em" style="color: #1259c3"></i>
          <h3 class="footer-title">Envío gratis desde $ 2.500</h3>
          <p class="footer-terms">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>

        <article class="footer-texts">
          <i class="fa-solid fa-user-shield font-em" style="color: #1259c3"></i>
          <h3 class="footer-title">Seguridad, de principio a fin</h3>
          <p class="footer-terms">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
            hacer, porque estás siempre protegid@.
          </p>
        </article>
      <section class="footer-container">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>

</html>
